.DS_Store
node_modules/
/dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.gitignore
.editorconfig
.postcssrc.js
firebase.json
.babelrc
# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
